x-logging: &default-logging
  driver: "syslog"
  options:
    syslog-address: "tcp://172.20.0.100:514"
    tag: "{{.Name}}"
    syslog-format: "rfc3164"

services:
  syslog_server:
    image: voxxit/rsyslog:latest
    container_name: syslog_server
    ports:
      - "514:514/tcp"
    volumes:
      - ./docker-logs:/var/log
      - ./rsyslog.conf:/etc/rsyslog.conf:ro
    networks:
      app_network:
        ipv4_address: 172.20.0.100
    hostname: syslog_server
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "514" ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./docker-logs:/logs:ro
      - ./dozzle_users.yml:/data/users.yml:ro
    ports:
      - "8080:8080"
    networks:
      - app_network
    environment:
      - DOZZLE_AUTH_PROVIDER=simple
      - DOZZLE_AUTH_SIMPLE_USERNAME=admin
      - DOZZLE_AUTH_SIMPLE_PASSWORD=your_password  # Здесь пароль в открытом виде
    env_file:
      - .env
    restart: unless-stopped
  db_auth:
    image: postgres:17
    environment:
      POSTGRES_DB: ${DATABASE_AUTH_NAME}
      POSTGRES_USER: ${DATABASE_AUTH_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_AUTH_PASSWORD}
    command: postgres -c listen_addresses='*'
    volumes:
      - postgres_data_auth:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - app_network
    logging: *default-logging
    depends_on:
      syslog_server:
        condition: service_healthy

  # Redis как брокер для Celery
  redis:
    image: redis:7-alpine
    container_name: celery_redis
#    ports:
#      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app_network
    restart: unless-stopped
    logging: *default-logging
    depends_on:
      syslog_server:
        condition: service_healthy

  backend_auth:
    build: ./backend_auth
    container_name: backend_auth
    ports:
      - "8000:8000"
    environment:
      REDIS_URL: "redis://redis:6379/0"
      SECRET_KEY: ${DJANGO_SECRET_KEY}
      DEBUG: ${DEBUG}
      LOGLEVEL: ${DJANGO_LOGLEVEL}
      ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
      
      DATABASE_ENGINE: ${DATABASE_ENGINE}
      DATABASE_NAME: ${DATABASE_AUTH_NAME}
      DATABASE_USERNAME: ${DATABASE_AUTH_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_AUTH_PASSWORD}
      DATABASE_HOST: db_auth
      DATABASE_PORT: ${DATABASE_AUTH_PORT}
    env_file:
      - .env
    secrets:
      - jwt_private_key
      - jwt_public_key
    depends_on:
      redis:
        condition: service_started
      db_auth:
        condition: service_started
      syslog_server:
        condition: service_healthy
    networks:
      - app_network
    restart: unless-stopped
#    logging: *default-logging
    logging: *default-logging

  backend_reports:
    build: ./backend_reports
    container_name: backend_reports
    command: uvicorn src.main:app --reload --workers 1 --host 0.0.0.0 --port 8000
    ports:
      - "8002:8000"
    restart: always
    networks:
      - app_network
    environment:
      REDIS_URL: "redis://redis:6379/0"
    volumes:
      - ./reports_storage:/app/media
      - ./reports_db.sqlite3:/app/reports_db.sqlite3
    depends_on:
      syslog_server:
        condition: service_healthy
    logging: *default-logging

  backend_congrats:
    build: ./backend_congrats
    container_name: backend_congrats
    command: uvicorn app.main:app --reload --workers 1 --host 0.0.0.0 --port 8000
    ports:
      - "8004:8000"
    restart: always
    networks:
      - app_network
    volumes:
      - ./backend_congrats:/usr/src/app
    depends_on:
      syslog_server:
        condition: service_healthy
    logging: *default-logging

  db_tg:
    image: postgres:17
    environment:
      POSTGRES_DB: ${DATABASE_TG_NAME}
      POSTGRES_USER: ${DATABASE_TG_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_TG_PASSWORD}
    command: postgres -c listen_addresses='*'
    volumes:
      - postgres_data_tg:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - app_network
    depends_on:
      syslog_server:
        condition: service_healthy
    logging: *default-logging

  tg_bot:
    build: ./tg_bot
    container_name: telegram_bot
    volumes:
      - ./tg_bot:/app
    environment:
      REDIS_URL: "redis://redis:6379/0"
      BASE_URL: ${BASE_URL}
      BOT_TOKEN: ${TELEGRAM_API_TOKEN}
      CHAT_ID: ${TELEGRAM_CHAT_ID}
      ERROR_LOG_CHAT_ID: ${TELEGRAM_ERROR_LOG_CHAT_ID}
      INFO_LOG_CHAT_ID: ${TELEGRAM_INFO_LOG_CHAT_ID}

      DATABASE_ENGINE: ${DATABASE_ENGINE}
      DATABASE_NAME: ${DATABASE_TG_NAME}
      DATABASE_USERNAME: ${DATABASE_TG_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_TG_PASSWORD}
      DATABASE_HOST: db_tg
      DATABASE_PORT: ${DATABASE_TG_PORT}
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_started
      db_tg:
        condition: service_started
      syslog_server:
        condition: service_healthy
    networks:
      - app_network
    restart: unless-stopped
    logging: *default-logging

  tg_celery_worker:
    build: ./tg_bot
    container_name: tg_bot_celery_worker
    command: celery -A src.celery_app worker --loglevel=info --concurrency=4
    volumes:
      - ./tg_bot:/app
    environment:
      REDIS_URL: "redis://redis:6379/0"
      BASE_URL: ${BASE_URL}
      BOT_TOKEN: ${TELEGRAM_API_TOKEN}
      CHAT_ID: ${TELEGRAM_CHAT_ID}
      ERROR_LOG_CHAT_ID: ${TELEGRAM_ERROR_LOG_CHAT_ID}
      INFO_LOG_CHAT_ID: ${TELEGRAM_INFO_LOG_CHAT_ID}

      DATABASE_ENGINE: ${DATABASE_ENGINE}
      DATABASE_NAME: ${DATABASE_TG_NAME}
      DATABASE_USERNAME: ${DATABASE_TG_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_TG_PASSWORD}
      DATABASE_HOST: db_tg
      DATABASE_PORT: ${DATABASE_TG_PORT}
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_started
      tg_bot:
        condition: service_started
      syslog_server:
        condition: service_healthy
    networks:
      - app_network
    restart: unless-stopped
    logging: *default-logging

  frontends:
    build: ./frontends
    restart: always
    networks:
      - app_network
    ports:
      - "85:80"
    environment:
      APP_PREFIX: PREFIX_FRONTEND
      ASSET_DIR: /usr/share/nginx/html
      PREFIX_FRONTEND_BACKEND_URL: ${BASE_URL}
    env_file:
      - .env
    depends_on:
      syslog_server:
        condition: service_healthy
    logging: *default-logging
  nginx_proxy:
    build: ./proxy
    container_name: nginx_proxy
    ports:
      - "80:80"
    depends_on:
      - backend_auth
      - frontends
    networks:
      - app_network
    restart: unless-stopped
    logging: *default-logging

volumes:
  redis_data:
  postgres_data_auth:
  postgres_data_tg:

secrets:
  jwt_private_key:
    file: ./jwt_keys/private.pem
  jwt_public_key:
    file: ./jwt_keys/public.pem

networks:
  app_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16