/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/
/* Это РАБОТАЕТ, но не рекомендуется */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";