/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/
/* Это РАБОТАЕТ, но не рекомендуется */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Исправление для мобильных устройств */
html, body {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important; /* Ключевое свойство для iOS */
  overscroll-behavior: auto !important; /* Отключаем запрет на нативную прокрутку */
  position: relative !important; /* Переопределяем fixed */
  height: 100% !important;
}

#root {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
  height: 100% !important;
}

.bg-brand-background {
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch !important; /* Плавный скролл на iOS */
  overscroll-behavior: contain; /* Мягкое поведение при достижении края */
  height: 100% !important;
}

/* Дополнительно для iOS */
@supports (-webkit-overflow-scrolling: touch) {
  .container {
    -webkit-transform: translateZ(0); /* Hardware acceleration */
    transform: translateZ(0);
  }
}
       /* Custom Scrollbar Styles */
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        ::-webkit-scrollbar-track {
            background: #e5e7eb; /* gray-200 */
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb {
            background: #d1d5db; /* gray-300 */
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #9ca3af; /* gray-400 */
        }