/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/
/* Это РАБОТАЕТ, но не рекомендуется */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root, html, body, #root {
  overflow: visible !important;
  overflow-y: auto !important;
  height: auto !important;
  min-height: 100% !important;
  position: static !important;
}

.bg-brand-background {
  overflow: visible !important;
  height: auto !important;
  min-height: 100vh;
}

.container {
  overflow: visible !important;
  height: auto !important;
}
       /* Custom Scrollbar Styles */
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        ::-webkit-scrollbar-track {
            background: #e5e7eb; /* gray-200 */
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb {
            background: #d1d5db; /* gray-300 */
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #9ca3af; /* gray-400 */
        }